<aside>
    <h1>BeeShop</h1>
    <a class="black" href="/shop/search">Search</a>
    <br>
    <a href="/shop">All Apps</a>
    <a class="black" href="/shop/games">Games</a>
    <a href="/shop/emulators">Emulators</a>
    <a class="black" href="/shop/tools">Tools</a>
    <a href="/shop/ais">AIs</a>
    <br>
    <a class="black" href="/shop/installed">See Installed</a>
    <a href="/shop/settings">Settings</a>
    <a class="black" href="/">Home</a>
</aside>